# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
env/

# Environment variables
.env

# Outputs (keep only small samples if needed)
outputs/*
!outputs/*_sample.csv

# OS junk
.DS_Store
Thumbs.db
